<h1>How it works</h1>
<a style = "font-size: 150%">
This is a really simple application developed in ruby and rails, in the home page, you just select "New Image" and then you can complete the form with all the informations, including the image.
<br><br>
Going back to the home page, you can see all your uploaded images with the following buttons:
<br><br>
Show - You can see the image in a bigger size and the all the informations.<br>
Edit - You can edit all the informations of the upload, including the image.<br>
Destroy - You can completely delete the uploaded image.<br><br>

So this is a complete CRUD application. You can create using the new image, read using show, update using edit, and finally delete using destroy.<br>
<br>
<h2>Comments</h2><br>
Before doing the challenge, I searched and studied what Shopify uses, to be able to use the same technology, and this is why I did everything in ruby and rails.<br><br>
It was my first time using ruby and rails and I'm pretty satisfied with the result.
</a>